body {
    background: linear-gradient(to bottom, #222, #444);
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

#game-status {
    font-size: 18px;
}

#winner-status {
    font-size: 20px;
    font-weight: bold;
    color: yellow;
}
